@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@300;400;600;700&display=swap");
:root {
  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "Playfair Display", serif;
  --text-color: rgba(255, 255, 255, 0.788);
  --secondary-text-color: #00d8ff;
}

/* Base */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: var(--font-primary);
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2d2d2d;
  font-family: var(--font-secondary);
  color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1280px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-md {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Header Section */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 1.25rem;
  color: var(--text-color);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #1d1d1d;
    width: 100%;
    height: 30%;
    top: -100%;
    left: 0;
    box-shadow: rgba(99, 99, 99, 0.2);
    z-index: 100;
    padding: 4rem 0rem 0rem 3rem;
    transition: 0.3s;
  }
}

.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  list-style: none;
}

.nav__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  transition: 0.3s;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.show__menu {
  top: 0;
  right: 0;
}

/* Hero Section */
.hero {
  background-color: #333;
  position: relative;
  z-index: -1;
  padding: 6rem 0rem;
  display: flex;
  align-items: center;
}

.hero h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  background: -webkit-linear-gradient(
    360deg,
    var(--secondary-text-color) 0%,
    var(--secondary-text-color) 25%,
    var(--secondary-text-color) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero p {
  color: var(--text-color);
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
}

.hero h2 {
  font-family: var(--font-primary);
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

/* Experience */
.experience {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 80px;
}

.experience h3 {
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.accordion__experience {
  position: relative;
  width: 100%;
  color: var(--text-color);
  margin-top: 2rem;
}

.accordion__experience section {
  display: block;
  width: 100%;
  left: 0;
}

.accordion__experience section input[name="sections"] {
  left: -9999px;
  position: absolute;
}

.accordion__experience section input[name="sections"]:checked + label {
  background-color: #2d2d2d;
  border: 2px solid var(--text-color);
}

.accordion__experience section input[name="sections"]:checked ~ article {
  display: block;
}

.accordion__experience section label {
  font-family: var(--font-primary);
  color: var(--text-color);
  font-weight: 300;
  cursor: pointer;
  display: block;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  padding: 1rem 0.83rem;
  position: relative;
  width: 100%;
  z-index: 100;
  border: 2px solid #2d2d2d;
}

.accordion__experience section article {
  display: none;
  left: 0;
  width: 100%;
  position: relative;
  top: 0;
  font-family: var(--font-primary);
  font-weight: 300;
  line-height: 1.7;
  padding: 2rem 0;
}

.accordion__experience section article ul li {
  font-weight: 300;
  font-size: 16px;
  color: var(--text-color);
  list-style: disc;
  list-style-position: inside;
}

.accordion__experience section article > p {
  color: var(--secondary-text-color);
  font-weight: 300;
  font-size: 14px;
  margin: 16px 0px 16px 0px;
  letter-spacing: 1px;
  opacity: 0.8;
}
.accordion__experience section article::after {
  background-color: transparent;
  bottom: 0;
  content: "";
  display: block;
  left: -229;
  position: absolute;
  top: 0;
  width: 220px;
  z-index: 1;
}

.title__experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title__experience h2 {
  color: var(--text-color);
}

@media screen and (min-width: 767px) {
  /* Base */
  .container,
  .container-md {
    margin-left: auto;
    margin-right: auto;
  }

  /* Header */
  .nav {
    height: 5rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  /* Hero */
  .hero {
    display: block;
    padding: 13rem 0;
  }
  .hero p {
    font-size: 1rem;
    text-align: justify;
  }
  /* EXPERIENCE */
  .accordion__experience {
    width: 100%;
    color: var(--secondary-text-color);
    margin-top: 3rem;
  }

  .accordion__experience section label {
    border-color: #00d8ff;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    width: 20%;
  }

  .accordion__experience section label:hover span {
    transition: all 0.3s ease-in-out;
  }

  .accordion__experience section label:hover span {
    margin-left: 6px;
  }

  .accordion__experience section input[name="sections"]:checked + label {
    background-color: #00d8ff;
    color: #2d2d2d;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-radius: 10px;
  }

  .accordion__experience section article {
    position: absolute;
    width: 70%;
    left: 26.5%;
    padding: 0;
  }
  .title__experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
