/*================ Google Fonts ================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

/*================ CSS Variables ================*/
:root {
  /* Colors */
  --hue-color: 242;

  /* HSL Color Mode */
  --skin-color: hsl(221, 100%, 63%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --body-color: hsl(var(--hue-color), 19%, 5%);
  --box-color: hsl(var(--hue-color), 14%, 10%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

  /* Font and Typography */
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --font-xxl-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Font Weight */
  --font-medium: 500;
  --font-bold: 600;

  /* Bottom Margins */
  --mb-0-25: 0.25rem;
  --mb-0-50: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z INDEX */
  --z-fixed: 10;
  --z-modal: 100;

  /* Responsive Typography */
  @media screen and (max-width: 1024px) {
    :root {
      --font-xxl: 2rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1.125rem;
      --normal-font-size: 0.938rem;
      --small-font-size: 0.813rem;
      --smaller-font-size: 0.75rem;
    }
  }
}

/*================ BASE ================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}

/*================ LAYOUT ================*/
.container {
  max-width: 1920px;
  margin-left: 40px;
  /* margin-right: auto; */
}

.grid {
  display: grid;
}
/*================ REUSABLE CSS CLASSES ================*/
.section {
  padding: 6.5rem 0 2rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
}

.section__title::before {
  content: attr(data-heading);
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--skin-color);
}
/*================ SIDEBAR ================*/
.sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  background-color: var(--body-color);
  border-right: 1px solid var(--box-color);
}

.nav__logo {
  position: absolute;
  top: 1.8rem;
  right: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--skin-color);
  text-align: center;
  margin: auto;
}

.nav__logo-text {
  font-size: 1.125rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  line-height: 40px;
}

.nav__menu {
  position: fixed;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  width: 100vh;
}

.menu {
  display: flex;
}

.nav__list {
  display: flex;
  flex-direction: row-reverse;
  margin: -2px auto 0 auto;
}

.nav__link {
  float: right;
  height: 100%;
  line-height: 100px;
  padding: 0 1rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  position: relative;
}

/* Active Link */
.nav__link.active-link,
.nav__link:hover {
  color: var(--skin-color);
}

.btn__share {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  text-align: center;
}
.social__share {
  font-size: 1.5rem;
}
.nav__link.active-link::after,
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--skin-color);
  border-radius: 50%;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  margin: auto;
}

/*================ MAIN ================*/
.main {
  margin-left: 100px;
}
/*===== HOME SECTION ===== */
.home {
  background-image: url("../images/HeroImage2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  height: 100vh;
}

.home__container {
  position: relative;
  height: 100%;
  align-items: center;
}

.home__social {
  position: absolute;
  top: 1.8rem;
  left: 0;
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
}

.home__social-follow {
  font-size: var(--normal-font-size);
  position: relative;
}

.home__social-follow::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--text-color);
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  column-gap: 1rem;
}

.home__social-link {
  font-size: 1.08rem;
  color: var(--text-color);
  transition: 4s;
}

.home__social-link:hover {
  transform: translateY(0.25rem);
}

.home__img {
  display: none;
}

.home__title {
  font-size: var(--font-xxl-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  max-width: 450px;
  margin-bottom: var(--mb-2);
}
.my__info {
  display: flex;
  column-gap: 1.8rem;
  position: absolute;
  left: 0;
  bottom: 1.8rem;
}

.info__item {
  display: flex;
  align-items: center;
}

.info__title,
.info__subtitle {
  font-size: var(--small-font-size);
}

.info__title {
  font-weight: var(--font-medium);
}

.info__icon {
  font-size: 1.8rem;
  color: var(--skin-color);
  margin-right: var(--mb-0-75);
}
/*===== BUTTONS ===== */
.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--skin-color);
  color: var(--title-color);
  padding: 0.75rem 1.4rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  position: relative;
  z-index: 1;
}

.button::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--box-color);
  z-index: -1;
  transform-origin: center;
  transform: scale(0);
  border-radius: 0.5rem;
  transition: 0.4s;
}

.button:hover::after {
  transform: scale(1);
}

.button__icon {
  font-size: 1.25rem;
}
/*===== ABOUT SECTION ===== */
.about__container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  align-content: center;
}

.about__img {
  width: 480px;
  justify-self: center;
}

.about__heading {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}

.about__description {
  text-align: justify;
  padding-right: 6rem;
  margin-bottom: var(--mb-2);
}

.about__info {
  grid-template-columns: repeat(3, 140px);
  column-gap: 0.5rem;
  margin-bottom: var(--mb-3);
}

.about__box {
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  background-color: var(--box-color);
}

.about__icon {
  font-size: 1.5rem;
  color: var(--skin-color);
  margin-bottom: var(--mb-0-75);
}

.about__title {
  font-size: var(--small-font-size);
}

.about__subtitle {
  font-size: var(--smaller-font-size);
}

/*===== QUALIFICATION SECTION ===== */
.qualification__container {
  grid-template-columns: repeat(2, 340px);
  column-gap: 3rem;
  justify-content: center;
}

.qualification__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2);
}

.timeline__item {
  position: relative;
  padding-left: 3rem;
  margin-bottom: var(--mb-2-5);
}

.timeline__item:last-child {
  margin-bottom: 0;
}

.timeline__item::before {
  content: "";
  width: 1px;
  position: absolute;
  left: 0.48rem;
  top: 0;
  height: 100%;
  background-color: var(--skin-color);
}

.circle__dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--skin-color);
  border-radius: 25%;
  border-color: var(--skin-color);
  background-color: var(--skin-color);
  transition: 0.4s;
}
.timeline__item:hover .circle__dot {
  background-color: var(--body-color);
}

.timeline__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-25);
}

.timeline__text {
  font-size: var(--smaller-font-size);
  margin-bottom: var(--mb-1);
}

.timeline__date {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  font-size: var(--small-font-size);
  color: var(--skin-color);
}
/*===== SKILLS SECTION ===== */
.skills__container {
  grid-template-columns: 360px 320px;
  column-gap: 3rem;
  justify-content: center;
}

.skills__header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.skills__header:not(:last-child) {
  margin-bottom: var(--mb-2-5);
}

.skills__arrow,
.skills__icon {
  font-size: 2rem;
  color: var(--skin-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.skills__subtitle {
  font-size: var(--small-font-size);
}

.skills__arrow {
  margin-left: auto;
}

.skills__active .skills__arrow {
  transform: rotate(-90deg);
  transition: 0.3s;
}

.skills [data-content] {
  display: none;
}

.skills__active[data-content] {
  display: block;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-50);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.5rem;
}

.skills__bar {
  background-color: var(--box-color);
}

.skills__percentage {
  display: block;
  background-color: var(--skin-color);
}
/*===== WORK SECTION ===== */

/*===== ACTIVE ITEM SECTION ===== */ ;
